body {
  background-color: #404040;
}

h1 {
  color: #6c9eea;
}

h2,
.words-label {
  color: #c4c4c4;
}

.navbar-nav {
  flex-direction: row;
  padding-top: 0.9rem;
}

.navbar-brand {
  padding-left: 0.25rem;
  font-size: 2rem;
}

.nav-item {
  padding-right: 1rem;
}

.nav-text {
  padding-left: 1rem;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.game-fp {
  width: auto;
}

.wordl-fp {
  display: block;
  max-width: 70%;
  margin: 0 auto;
}

.titlebox {
  margin-bottom: 35px;
}

.boxbox {
  display: flex;
  justify-content: center;
}

.gamebox,
.listbox {
  flex-basis: 25%;
}

.gamebox {
  margin-right: auto;
}

.listbox {
  margin-right: 5rem;
}

.wordbox {
  flex-basis: 40%;
}

.wordflex {
  display: flex;
  flex-flow: row wrap;
}

.list-group-words {
  flex-basis: 33%;
}

.list-group-item {
  background-color: #c4c4c4;
}

.list-group-item.active {
  color: black;
  background-color: #b2d0fc;
  border-color: #b2d0fc;
}

.list-group-item.active-list {
  color: black;
  background-color: #b7ffae;
  border-color: #5cd44c;
}

.sel-game-lists {
  /* border: 2px solid #8686e6; */
}

.sel-game-list-style {
  color: black;
  background-color: #b2d0fc;
  border-color: #b2d0fc;
}

.all-lists {
  border: 2px solid #5cd44c;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
