body {
  background-color: #404040;
}

h1 {
  color: #6c9eea;
}

h2 {
  color: #c4c4c4;
}

.navbar-nav {
  flex-direction: row;
  padding-top: 0.9rem;
}

.navbar-brand {
  padding-left: 0.25rem;
  font-size: 2rem;
}

.nav-item {
  padding-right: 1rem;
}

.nav-text {
  padding-left: 1rem;
}

.container {
  margin: 0 auto;
  padding: 0;
}

.game-fp {
  width: auto;
}

.wordl-fp {
  display: block;
  max-width: 70%;
  margin: 0 auto;
}

.titlebox {
  margin-bottom: 35px;
}

.gamestitle,
.listtitle {
  display: flex;
}

.games-subtitle,
.lists-subtitle {
  font-size: 1rem;
  font-style: oblique;
  color: #9c9c9c;
  padding-top: 0.75rem;
  padding-left: 1rem;
}

.boxbox {
  display: flex;
  justify-content: center;
}

.gamebox,
.listbox {
  flex-basis: 25%;
}

.gamebox {
  margin-right: auto;
}

.listbox {
  margin-right: 5rem;
}

.wordbox {
  flex-basis: 40%;
}

.wordflex {
  display: flex;
  flex-flow: row wrap;
}

.list-group-words {
  flex-basis: 33%;
}

.gamemenu,
.listmenu,
.wordmenu {
  display: flex;
  margin-bottom: 0.5rem;
}

.menu-btn {
  border: none;
  border-radius: 5%;
  margin: 0.1rem;
}

.delete-game-btn,
.delete-list-btn,
.delete-word-btn {
  background-color: #ffbaba;
}

.game-label,
.list-label,
.words-label {
  color: #c4c4c4;
  padding: 0 1rem;
}

/* mapped button selections */

.list-group-item {
  background-color: #c4c4c4;
}

.list-group-item.active {
  color: black;
  background-color: #9cdd98;
  border-color: #4caf50;
}

.list-group-item.active-list {
  color: black;
  background-color: #9cdd98;
  border-color: #4caf50;
}

.list-group-item.active-game {
  color: black;
  background-color: #a7cafd;
}

.sel-game-list-style {
  color: black;
  background-color: #bdd7ff;
  padding-left: 2rem;
}

.word-count {
  font-size: 1.5rem;
  color: #9cdd98;
}

.sel-game-col {
  color: #a7cafd;
}

.sel-list-col {
  color: #9cdd98;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* -----------------  @media sizing  ---------------- */

@media screen and (max-width: 600px) {
  .boxbox {
    display: block;
  }

  .listbox {
    margin-right: 0;
  }

  .gamebox,
  .listbox {
    padding-bottom: 2rem;
  }
}
